h2 {
   color:greenyellow; 
}

body {
    background-color: black;
}

p {
    font-size: 10px;
    color: greenyellow
    
}
div{
    background-color: rebeccapurple;
    height: 150px;
    width: 150px;
    border:5px solid #ffffff;
    float: left;
    margin: 20px;
}
div.boxyMcBoxFace{
    background-color: yellow;
    height: 150px;
    width: 150px;
    border:5px solid #ffffff;
    float: left;
    margin: 20px;
}




